
player-input-form {
  margin-left: auto;
  margin-right: auto;
}

.player-hand {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.chat {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 400px;
    border: 3px solid #73AD21;
}

.mao-good {
  color: #73AD21;
}

.mao-bad-card {
  color: red;
}

.mao-bad-turn {
  color: brown;
}

.out-of-turn {
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.chat-message {
  font-size: 25px;
}

.dealer-card-border {
  border: 4px solid gray;
}

.player-card-border {
  border: 4px solid gray;
}

.card-border {
  display: none;
  position: relative;
  top: 100px;
  border: 4px solid gray;
}

.staging-area {
  position: relative;
  bottom: 20px;
  left: 190px;
}

.player-hand {
  width: 700px;
  position: fixed;
  top: 700px;
  left: 500px;
}
